h1 {
  color: red;
  font-size: 45px ;
  text-align: center;

}

h2 {
font-size: 40px;


}

body { 
  background-image: url(https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg?size=626&ext=jpg) ;

  
}
